header {
  text-align: center;
  text-shadow: 2px 4px 4px white;
  font-size: 48px;
  font-style:  normal;
  font-weight: bold;
  color: 00000;
}

.fun {
  text-align: left;
  text-shadow: 2px 4px 4px white;
  font-size: 48px;
  font-style:  normal;
  font-weight: bold;
  color: 00000;
}

body {
  font-family: Arial, times, sans-serif;
  background: linear-gradient(to bottom, #ff9900 0%, #9900ff 100%);
  background-attachment: fixed;
}

.maincontent {
  text-align: center;
  font-size: 18px;
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: sans-serif;
  font-style: italic;
  color: 00000; 
}

.navbar {
  position: static;
  overflow: hidden;
  font-family: Arial;
  width: 100%;
  border-radius: 25px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 25px;
}

.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 100px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  border-radius: 25px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: purple;
  font: times;
  font-size: 20px;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  margin: 1px;
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: orange;
  margin: 10px;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: purple;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.image {
  float: right;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  border: none;
  text-align: center;
}

.image:hover {
  background-color: purple;
  color: white;
}

.Bottom-Caption {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: black;
}

.aside-left {
  float: left;
  font-size: 20px;
  font-family: sans-serif;
  font-style: oblique;
  text-align: left;
  width: 250px;
  list-style-position: inside;
  margin-left: 20px;
  position: relative;
}

ul {
  text-align: left;
  list-style-position: inside;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 0px;
  width: 200px;
}


.table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  outline: 1px solid black;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

footer {
  color: white;
  padding: 0px;
  position: absolute;
  text-align: left;
  font-style: italic;
}